@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hdr {
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .hdr__menu ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .hdr__menu ul li {
    margin-left: 25px;
    text-align: center;
    position: relative;
    color: #0E007A;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .hdr__menu ul button {
    background: #fff;
    padding: 13px 36px;
    border: none;
    color: #884CF8;
    border-radius: 28px;
    background: #FFF;
    box-shadow: 0px 14px 20px 0px rgba(136, 76, 248, 0.1);
    position: relative;
    margin-left: 35px;
  }
  .top1 {
    margin-top: 100px;
    padding: 0px;
    width: 100%;
    display: block;
  }
  .top1__text-area {
    position: relative;
    margin-top: 80px;
  }
  .top1__text-area h1 {
    color: #0E007A;
    font-family: Lato;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 70px;
    width: 524px;
  }
  .top1__text-area p {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 456px;
    margin-top: 40px;
  }
  .top1__text-area button {
    border-radius: 28px;
    padding: 13px 30px;
    background: #884CF8;
    box-shadow: 0px 14px 20px 0px rgba(136, 76, 248, 0.1);
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    margin-top: 40px;
  }
  .top1__img {
    margin-left: 36px;
    position: relative;
  }
  .top1__img img {
    top: 120px;
    width: 70%;
    position: relative;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  label {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .hdr {
    margin-left: 10px;
    margin-top: 0px;
    padding: 0px;
  }
  .hdr__menu ul {
    position: relative;
    flex-direction: column;
    display: none;
    background: rgba(213, 176, 221, 0.2196078431);
    padding: 40px;
  }
  .hdr__menu ul li {
    margin-left: 0;
    text-align: center;
    position: relative;
    color: #0E007A;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 18px;
  }
  .hdr__menu ul li a {
    padding: 10px;
    border-radius: 8px;
  }
  .hdr__menu ul li a:hover {
    padding: 10px;
    background: rgba(235, 151, 151, 0.3098039216);
  }
  .hdr__menu ul button {
    background: #fff;
    padding: 13px 36px;
    border: none;
    color: #884CF8;
    border-radius: 28px;
    background: #FFF;
    box-shadow: 0px 2px 2px 0px rgba(128, 124, 139, 0.1450980392);
    position: relative;
    margin-left: 0px;
    float: none;
  }
  .top1 {
    margin-top: 100px;
    padding: 0px;
    margin-left: 10px;
    display: block;
    position: relative;
  }
  .top1__text-area {
    position: relative;
    margin-top: 80px;
  }
  .top1__text-area h1 {
    color: #0E007A;
    font-family: Lato;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 70px;
    width: 524px;
  }
  .top1__text-area p {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 456px;
    margin-top: 40px;
  }
  .top1__text-area button {
    border-radius: 28px;
    padding: 13px 30px;
    background: #884CF8;
    box-shadow: 0px 14px 20px 0px rgba(136, 76, 248, 0.1);
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    margin-top: 40px;
  }
  .top1__img {
    margin-left: 10px;
    position: relative;
  }
  .top1__img img {
    top: 100px;
    width: 60%;
    position: relative;
  }
}/*# sourceMappingURL=respons.css.map */